 {% extends 'base.html' %}
 {% block content %}




<style>
  .container{
      margin: auto;
width: 60%;
border: 3px solid #31332f;
padding: 10px;
text-align: center;
  }
</style>
<div class="container">

  
  <form>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
  </div>
    
    
  </form>
    
  <br><br>
      </div>
      
</div>
</div>


 
    
    

{% endblock%}
        
