{% extends 'base.html' %}
{% block content %}


<style>
    .container{
        margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align: center;
    }
</style>
<div class="container">
	<div class=" text-center">
    
        <br><br>
        <img src="static/success.png">
        <br><br>
        <h3>Transcation Completed Successfully</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for your donations</p>
        <a href="{% url 'home' %}" >Donate us again 🙂</a>
      
    <br><br>
        </div>
        
	</div>
</div>

{% endblock%}
        